.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80vh;
    background-color: #C45656;
    padding: 20px;

}

.menu-item {
    
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    
}

.menu-item:hover {
    color: #e9ecef;
}

.text:hover {
    color: #e9ecef;
}


.text {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
    
}

.menu-item:hover {
    color: white;
    font-weight: bold;
    
}

.menu-item .icon:hover  {
    font-weight: bold;

}

.menu-item .icon,
.menu-item .profile-img {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.logo {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5vh;

    
    
}


.bottom-section {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

