<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./base.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="logo-slogan">
            <img class="logo" src="./../../../../public/assets/Images/logoletras.svg" alt="">
            <span class="slogan">Nibble te brinda reseñas auténticas, recomendaciones y experiencias gastronómicas en un solo lugar</span>
        </div>

        <div class="form-card">
            <div class="form-card-header">
                <img class="logo" src="./../../../../public/assets/Images/logotipo.png" alt="">
            </div>

            <form class="form-card-form">
                <div class="input-group">
                    <input type="email" id="email" name="email" required placeholder="Correo electrónico">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" required placeholder="Contraseña">
                </div>
                <a class="forget-password" href="">¿Olividaste tu contraseña?</a>
                <button type="submit" class="btn-submit">Iniciar sesión</button>
            </form>

            <p class="form-card-footer">¿No tienes una cuenta? <a href="#" class="register">Regístrate aquí</a></p>
        </div>
    </div>
</body>
</html>